[submodule "Server"]
	path = Server
	url = https://github.com/Keadian/EQMacEmu
[submodule "Quests"]
	path = Quests
	url = https://github.com/Keadian/quests
[submodule "Maps"]
	path = Maps
	url = https://github.com/keadian/Maps
